<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <style>
        .columns {
            width: 100%;
        }
        .columns div {
            float: left;
        }
        .chal {
            float: top;
        }
    </style>
    <script>
        function getHint(a) {
            window.location.href = "/getHint?"+a+"=1"
        }
        function submit(a) {
            window.location.href = "/submitFlag?"+a+"="+document.getElementById("flag_"+a).value+"&uid="+(Math.random()+"")
        }
        window.onload = function () {
            let chals = document.getElementsByClassName("chal");
            let arr = [];
            for (let i = 0; i < chals.length; i++){
                arr.push(chals[i]);
            }
            chals = arr;
            let max = 0;
            for(let i = 0; i < chals.length; i++){
                if (chals[i].clientWidth>max){
                    max = chals[i].clientWidth;
                }
            }
            for(let i = 0; i < chals.length; i++){
                //chals[i].style.width = max+"px";
            }
        }
    </script>
</head>
<body>
<h1>CTF 👁👄👁</h1>
<h2>Hints used: {{.Hints}}</h2>
<h2>Challenges solved: {{.Solved}}</h2>
<div class="myProgress">
    <div id="bar" class="myBar" style="width: {{.Progress}}%"></div>
</div>
<h2>Challenges:</h2>
<div id="orig" class="orig">
{{range .Chals}}
    {{if .Enabled}}
        <div class="chal border">
                <a href="{{.Path}}" target="_blank">
                    <h3>{{.Name}} {{if .Done}}👌{{end}}</h3>
                    <pre>{{.Description}}</pre>
                </a>
                {{if .Done}}
                    <p>{{.SolvedMsg}}</p>
                {{else}}
                    {{if .HintUsed}}
                        <p>{{.Hint}}</p>
                    {{else}}
                        {{if .Hint}}
                            <button onclick="getHint('{{.Name}}');">Get hint</button>
                        {{end}}
                    {{end}}
                    {{if .Flag}}
                    <br>
                    <p>flag=
                        <input type="text" name="flag" id="flag_{{.Name}}">
                        <button onclick="submit('{{.Name}}')">Submit</button>
                    </p>
                    {{end}}
                {{end}}
        </div>
    {{end}}
{{end}}
</div>
</body>
</html>